.element__name{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	padding: 25px 15px 31px 21px;
	background-color: #fff;
	border-radius: 0px 0px 10px 10px;
}